@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  background-color: #fff;
  width: 0.4rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
